{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block stylesheets %}
<style>
    body{
        background: #f4f4f4;
    }
</style>
{% endblock %}

{% block body %}
    <div class="row">
        <h4 class="col-10 offset-1">Mon Profile : </h4>
        <div class="col-10 offset-1 card" style="padding: 20px">
            {{ form_start(profileForm, {'attr':{'onsubmit': 'return validatePassword()'}}) }}
                <div class="form-group">
                    {{ form_row(profileForm.username) }}
                </div>
                <div class="form-group">
                    {{ form_row(profileForm.userEmail) }}
                </div>
                <div class="form-group">
                    {{ form_row(profileForm.userDateArrivee) }}
                </div>
                <div class="form-group">
                    {{ form_row(profileForm.password) }}
                </div>
                <div class="form-group">
                    {{ form_row(profileForm.comfirmePassword) }}
                </div>
                {{ form_row(profileForm.submit) }}

            {{ form_end(profileForm) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    let password = document.getElementById("profile_password");
    let confirm_password = document.getElementById("profile_comfirmePassword");

    function validatePassword() {
       let regex = new RegExp(/^(?=.*[A-z])(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\W+)\S{6,}$/);

        if (password.value.length < 6) {
            password.setCustomValidity("Le mot de passe doit faire 6 caractères minimum");
            return false
        } else {
            if(regex.test(password.value)) {
                password.setCustomValidity('');
            }
            else{
                alert("Le mot de passe doit au moin contenir une majuscule, une miniscule, un chiffre, un symbole et avoir au moins 6 caractères !");
                return false;
            }

            if (password.value !== confirm_password.value) {
                confirm_password.setCustomValidity("Les mots de passe ne corresponde pas");
                return false;
            } else {
                confirm_password.setCustomValidity('');
                return true;
            }
        }
    }
</script>
{% endblock %}