<!DOCTYPE html>
<html lang="fr" style="overflow: hidden">
<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ asset('css/bootstrap-grid.css') }}">
<link rel="stylesheet" href="{{ asset('css/bootstrap-reboot.css') }}">
<link rel="stylesheet" href="{{ asset('css/connexion.css') }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/onglet.png') }}"/>
<style>
    .alert.alert-danger{
        z-index: 10;
        bottom: -220px;
    }
</style>
<head>
    <meta charset="UTF-8"/>
    <title>UCO : connexion</title>
</head>

<body>

    <div class="row" >

        <div class="col-4 offset-4" style="margin-top: 5%; padding: 10px; text-align: center" >
            <h1>Ultimate Chat Online</h1>

        </div>

        {% if error %}
            <div class="alert alert-danger col-4 offset-4">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        
        <img id="loader" src="{{ asset('img/Loader.gif') }}" alt="" style="position: absolute; z-index: 1000; width: fit-content;left: 45%;top: 30%; display: none"/>

        <div class="main col-8" style="border: 2px solid lightgrey; padding: 20px; display: inline-block">
            <form method="post">

                {#{% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}#}

                {#{% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}#}

                <label for="inputUsername" style="font-weight: bold;">Nom d'utilisateur :</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                       class="form-control styl" required autofocus autocomplete="off">
                <br>
                <label for="inputPassword" style="font-weight: bold;">Mot de passe :</label>
                <input type="password" name="password" id="inputPassword" class="form-control styl" required autocomplete="off">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
                <br>
                <button onclick="showLoader()" class="btn btn-outline-info col-3 offset-3" type="submit" > Connexion </button>
                <A type="button" class="btn btn-outline-light" href='{{ path('app_register') }}'>Inscription</A>
            </form>
        </div>

    </div>
</body>
</html>

<script type="text/javascript" src="{{ asset('js/popper.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jQuery.min.js') }}"></script>
<script type="text/javascript" src="{{asset('js/util.min.js')}}"></script>
<script type="text/javascript" src="{{asset('js/jQuery.min.js')}}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{asset('js/bootstrap.bundle.js')}}"></script>

<script type="text/javascript">
    function showLoader() {
        document.getElementById("loader").style.display = "block";
    }

    function hideLoader() {
        document.getElementById("loader").style.display = "none";
    }

</script>