{% extends asset('base.html.twig') %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/salon.css') }}"/>
{% endblock %}

{% block title %}Salon{% endblock %}

{% block body %}
    <div class="col-10" style="margin-top: -30px; display: flex">
        <div style="margin-right: 5px">
            <strong>{{ salon.nameSalon }} : </strong>
        </div>
        <div id="divStatut">Connection...</div>

        {% if lastMessage is not empty %}
            <button onclick="toMessage('{{ lastMessage }}')" class="btn btn-sm btn-outline-secondary"> Afficher les message manqué ! </button>
        {% endif %}
    </div>
    <div class="divMessage" id="divMessage">
        {% for message in messages %}
            {% if message.type == "msg" %}
                <div {% if message.idUser == id %} class="bubbleRight" {% else %} class="bubbleLeft"{% endif %} id="{{ message.idMessages }}">
                    <span>{{ message.message }}</span>
                </div>
            {% else %}
                <div {% if message.idUser == id %} class="bubbleRight" {% else %} class="bubbleLeft"{% endif %} id="{{ message.idMessages }}">
                    <img {% if message.idUser == id %} class="imgChatRight" {% else %} class="imgChatLeft"{% endif %}
                            alt="{{ message.message }}" src="{{ asset('Uploads/img'~idSalon~"/"~message.message) }}">
                </div>
            {% endif %}
            {% if message.idUser != id %}
                <div class="bubbleLeftSmall">
                    <span>{{ message.username }}</span>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="input-group divInputImg">
        <button class="btn btn-outline-secondary btnImg" onclick="document.getElementById('inputImg').click()"
                id="btnImg"><i class="fas fa-plus"></i> <i class="far fa-image"></i></button>
        <input id="inputImg" type="file" style="display: none" accept="image/*" onchange="addImg(this)">
        <input id="imputTxtImg" type="text" class="form-control" style="display: none"
               accept="image/x-png,image/gif,image/jpeg">
        <button onclick="removeImg()" id="removeImg"
                style="border: none; background: transparent; cursor: pointer; color: grey; margin-left: -22px; z-index: 10; display: none">
            <i class="fas fa-times"></i></button>
    </div>
    <div class="input-group mb-3 divInputMessage">
        <input id="inputMsg" type="text" class="form-control inputMsg" maxlength="255"
               placeholder="Ecrivez un message..." aria-label="Recipient's username" aria-describedby="basic-addon2"
               style="border: 1px solid grey">
        <div class="input-group-append">
            <button class="btn btn-outline-info btnSend" type="button" onclick="sendImg(); sendMsg();" id="btnSend"><i
                        class="fab fa-telegram-plane"></i></button>
        </div>
    </div>

    <div class="inputListeUser card" style="margin-top: -10px;">
        <div>
            <h4>Utilisateur présent : </h4>
            <ul class="list-group">
                {% for user in listeUserInSalon %}
                    <li class="list-group-item">
                        {{ user.login_username }}
                        <span id="statut_{{ user.login_username }}" style="font-size: 10px">
                            {% if user.statut is not empty %}
                                {% if user.statut == 0 %}
                                    <i class="fa fa-circle" style="color: greenyellow"></i>
                                    <span style="color: greenyellow">Connecté</span>
                                {% else %}
                                    <i class="fa fa-circle" style="color: orange"></i>
                                    <span style="color: orange">Absent</span>
                                {% endif %}
                            {% else %}
                                <i class="fa fa-circle" style="color: red"></i>
                                <span style="color: red">Déconnecté</span>
                            {% endif %}
                        </span>
                        {% if salon.idCreateurSalon == id %}
                            {% if user.id_user != salon.idCreateurSalon %}
                                <button class="btn btn-outline-danger"  onclick="delUser({{ user.id_user }})"
                                        style="float: right; border: none"><i class="far fa-trash-alt"></i></button>
                            {% endif %}

                        {% else %}
                            {% if user.id_user == id %}
                                <button class="btn btn-outline-danger" onclick="delUser({{ user.id_user }})"
                                        style="float: right"><i class="fas fa-sign-out-alt"></i></button>
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <br>
        {% if listeUserNotInSalon is not empty %}
            <div class="row">
                <select class="custom-select col-7 offset-1" id="selectAddUser" style="cursor: pointer">
                    <option value="" selected style="cursor: pointer">Ajouter</option>
                    {% for user in listeUserNotInSalon %}
                        <option value="{{ user.id }}" style="cursor: pointer">{{ user.username }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-info col-2 offset-1" onclick="addUser()" style="display: inline-block"><i
                            class="fas fa-user-plus"></i></button>
            </div>
        {% endif %}
        {% if salon.idCreateurSalon == id %}
            <br>
            <div class="text-center" style="width: 100% !important;">
                <button class="btn btn-danger" style="width: 92% !important;" data-toggle="modal"
                        data-target="#delSalonModal">Supprimer le salon
                </button>
            </div>
        {% endif %}
    </div>
    <div class="modal fade" id="delSalonModal" tabindex="-1" role="dialog" aria-labelledby="delSalonModal"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background: rgba(49,53,61,0.94) !important;">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: white">Suppression du salon </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: white">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span style="color: white">Attention, cette action sera irréversible !<br> Supprimer quand même ? </span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-danger" onclick="delSalon({{ idSalon }})">Oui</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">

        $(document).ready(function () {
            let div = document.getElementById("divMessage");
            div.scrollTop = div.scrollHeight;
        });

        username = '{{ username }}';
        channel = '{{ idSalon }}';
        id = '{{ id }}';
    </script>
    <script type="text/javascript" src="{{ asset('js/sf-websocket.js') }}"></script>
    <script type="text/javascript">

        function exitSalon(){
            $.ajax({
                url: '{{ path('exitsalon') }}',
                type: 'POST',
                data: {
                    username: username,
                    id: channel
                },
                dataType: 'json',
                success: function () {
                    ws.send(
                        JSON.stringify({
                            action: 'unsubscribe',
                            channel: channel,
                            user: username
                        })
                    );
                    return;
                }
            });
        }

        // Get the input field
        let input = document.getElementById("inputMsg");

        // Execute a function when the user releases a key on the keyboard
        input.addEventListener("keyup", function (event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.key === "Enter") {
                sendMsg();
            }
        });

        function sendImg() {
            let inputImg = document.getElementById("inputImg");
            let file;

            let _URL = window.URL || window.webkitURL;

            if(inputImg.files.length > 0) {
                if (inputImg.files[0]['type'].split("/")[0] === "image") {

                    file = inputImg.files[0];

                    let img;
                    let width;
                    let height;

                    if (file) {
                        img = new Image();
                        let objectUrl = _URL.createObjectURL(file);
                        img.onload = function () {

                            width = this.width;
                            height = this.height;
                            _URL.revokeObjectURL(objectUrl);

                            if(width <= 1024 && height <= 1024) {

                                let formData = new FormData();

                                formData.append('file', file);

                                let Route = '{{ path('send_img', {"salon": idSalon}) }}';
                                $.ajax({
                                    url: Route,
                                    type: 'POST',
                                    data: formData,
                                    dataType: 'json',
                                    contentType: false,
                                    processData: false,
                                    success: function (data) {

                                        ws.send(JSON.stringify({
                                            action: 'img',
                                            user: username,
                                            message: "",
                                            img: data,
                                            channel: channel,
                                            id: id,
                                        }));

                                        removeImg();
                                    }
                                })
                            }else{
                                alert("Image trop volumineuse");
                            }

                        };
                        img.src = objectUrl;
                    }

                } else{
                    alert("Le fichier doit être une image !")
                }
            }
        }

        function sendMsg() {
            let input = document.getElementById("inputMsg");
            let msg = input.value;
            let div = document.getElementById("divMessage");
            //div.innerHTML += `<div class="bubbleRight slide-left"> <span>${msg}</span></div>`;

            input.value = "";

            ws.send(JSON.stringify({
                action: 'message',
                user: username,
                message: msg,
                channel: channel,
                id: id,
            }));

            if (msg != null && msg !== "" && msg.replace(" ", "").replace("\n", "") !== "") {
                let Route = '{{ path('send_msg') }}';
                $.ajax({
                    url: Route,
                    type: 'POST',
                    data: "msg=" + msg + "&idSalon=" + channel,
                    dataType: 'json',
                    success: function () {
                        //div.lastElementChild.classList.remove("slide-left");
                    }
                });
            }
        }

        function removeImg() {
            let inputImgTxt = document.getElementById("imputTxtImg");
            let btnRemove = document.getElementById("removeImg");
            let inputImg = document.getElementById("inputImg");

            btnRemove.style.display = "none";
            inputImgTxt.style.display = "none";
            inputImgTxt.valueOf = null;

            inputImg.value = null;
        }

        function addImg(inputImg) {
            let inputImgTxt = document.getElementById("imputTxtImg");
            let btnRemove = document.getElementById("removeImg");

            inputImgTxt.disabled = false;
            inputImgTxt.value = inputImg.value;
            inputImgTxt.disabled = true;
            inputImgTxt.style.display = "block";
            btnRemove.style.display = "block";
        }

        function addUser() {
            let select = document.getElementById("selectAddUser");
            if (select.value !== "") {
                $.ajax({
                    url: '{{ path('addUser') }}',
                    type: 'POST',
                    data: "idUser=" + select.value + "&idSalon=" + channel,
                    dataType: 'json',
                    success: function () {
                        window.location = '{{ path('salon', { "id": idSalon}) }}'
                    }
                });
            }
        }

        function delUser(id) {
            let txt;
            if (id != '{{ id }}') {
                txt = "Voulez-vous vraiment suprimer cette utilisateur de ce salon ?";
            } else {
                txt = "Voulez-vous vraiment quitter ce salon ?";
            }

            let r = confirm(txt);
            if (r === true) {
                $.ajax({
                    url: '{{ path('delUser') }}',
                    type: 'POST',
                    data: "idUser=" + id + "&idSalon=" + channel,
                    dataType: 'json',
                    success: function () {
                        window.location = '{{ path('salon', { "id": idSalon}) }}'
                    }
                });
            }
        }

        function delSalon(id) {
            showLoader();
            let Route = '{{ path('delSalon') }}';
            $.ajax({
                url: Route,
                type: 'POST',
                data: "idSalon=" + id,
                dataType: 'json',
                success: function () {
                    window.location = '{{ path('menu') }}';
                }
            });
        }

        function toMessage(idMessage) {
            document.getElementById(idMessage).scrollIntoView();
        }
    </script>
{% endblock %}