<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>UCO : {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    {% block stylesheets %}
    {% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/onglet.png') }}"/>
</head>
<body style="visibility: hidden">
<img id="loader" src="{{ asset('img/Loader.gif') }}" alt="" style="position: absolute; z-index: 1000; width: fit-content;left: 45%;top: 30%; display: none"/>

<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="{{ path('menu') }}"> Ultimate Chat Online </a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded" src="{{ asset('img/fox.png') }}" alt="User picture">
                </div>
                <div class="user-info">
          <span class="user-name">
            <strong>{{user.username}}</strong>
          </span>
                    <span class="user-role">{#{{user.role}}#}</span>
                    <span class="user-status">
            <i class="fa fa-circle" style="color: greenyellow"></i>
            <span style="color: greenyellow">Online</span>
          </span>
                </div>
            </div>
            <!-- sidebar-header  -->
            <div class="sidebar-search">
                <div>
                    <div class="input-group">
                        <label style="width: 75%; margin-right: 10px">
                            <input type="text" class="form-control search-menu" placeholder="Rechercher...">
                        </label>
                        <span class="input-group-text search" style="height: 39px">
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </span>
                        <div class="input-group-append">

                        </div>
                    </div>
                </div>
            </div>
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>General</span>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class="fa fa-th"></i>
                            <span>Acceuil</span>
                            {#                            <span class="badge badge-pill badge-warning">New</span>#}
                        </a>
                        {# <div class="sidebar-submenu">
                             <ul>
                                 <li>
                                     <a href="#">Module 1
                                       <span class="badge badge-pill badge-success">Pro</span>
                                     </a>
                                 </li>
                                 <li>
                                     <a href="#">Module 2</a>
                                 </li>
                                 <li>
                                     <a href="#">Module 3</a>
                                 </li>
                             </ul>
                         </div>#}
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fas fa-laptop-code"></i>
                            <span>Salons</span>
                            {#                            <span class="badge badge-pill badge-danger">3</span>#}
                        </a>
                        {% if salons is defined %}

                        <div class="sidebar-submenu">
                            <ul>
                                {% for salon in salons %}
                                    <li onclick="window.location = '{{ path('salon',{ id : salon.idSalon}) }}'" style="color: white; cursor: pointer">{{ salon.nameSalon }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </li>
                    {% if user.id == 4 %}
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fas fa-sliders-h"></i>
                            <span>Paramètrages</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="#">Utilisateur</a>
                                </li>
                                <li>
                                    <a href="#">Groupe</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="fa-divide"></div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <a href="#">
                <i class="fa fa-bell"></i>
                <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <a href="#">
                <i class="fa fa-envelope"></i>
                <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <a href="#">
                <i class="fa fa-cog"></i>
                <span class="badge-sonar"></span>
            </a>
            <a href="{{ path('app_logout') }}">
                <i class="fa fa-power-off"></i>
            </a>
        </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content" style="height: 100%">
        <div class="container-fluid" style="height: 100%">
            {% block body %}
            {% endblock %}
        </div>
    </main>
</div>
</body>

{% block js %}

    <script type="text/javascript" src="{{ asset('js/all.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/popper.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jQuery.min.js') }}"></script>
    <script type="text/javascript" src="{{asset('js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/vue.js')}}"></script>
    <script>
        $(document).ready(function ($) {

            $('body').css("visibility","visible");

            $(".sidebar-dropdown > a").click(function () {
                $(".sidebar-submenu").slideUp(200);
                if (
                    $(this)
                        .parent()
                        .hasClass("active")
                ) {
                    $(".sidebar-dropdown").removeClass("active");
                    $(this)
                        .parent()
                        .removeClass("active");
                } else {
                    $(".sidebar-dropdown").removeClass("active");
                    $(this)
                        .next(".sidebar-submenu")
                        .slideDown(200);
                    $(this)
                        .parent()
                        .addClass("active");
                }
            });

            $("#close-sidebar").click(function () {
                $(".page-wrapper").removeClass("toggled");
            });
            $("#show-sidebar").click(function () {
                $(".page-wrapper").addClass("toggled");
            });

        });

        function showLoader() {
            document.getElementById("loader").style.display = "block";
        }

        function hideLoader() {
            document.getElementById("loader").style.display = "none";
        }
    </script>
{% endblock %}
{% block javascripts %}
{% endblock %}
</html>
