<!DOCTYPE html>
<html lang="fr" style="overflow: hidden">
<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ asset('css/bootstrap-grid.css') }}">
<link rel="stylesheet" href="{{ asset('css/bootstrap-reboot.css') }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/onglet.png') }}"/>
<head>
    <meta charset="UTF-8"/>
    <title>UCO : inscription</title>
</head>

<style>
    label{
        font-weight: bold;
    }

    .btnInscription{
        border: 1px solid grey;
    }
</style>

<body style="background-color: #f4f4f4; padding: 0!important; margin: 0!important;">
    <div class="row">
        <div class="col-6 offset-3" style="padding: 10px; text-align: center; margin-top: 5%">
            <h1>Ultimate Chat Online</h1>
        </div>
        <div class="col-6 offset-3 card row" style="background-color: white; border: 1px solid grey; display: block; padding: 10px 0; text-align: center">
            {{ form_start(form, {'attr': {'id': 'formInscription','onsubmit':"check(this)"}}) }}

            <div class="col-5" style="display: inline-block; text-align: left">
                {{ form_row(form.user.userNom) }}
                {{ form_row(form.user.userPrenom) }}
                {{ form_row(form.user.userEmail) }}
            </div>

            <div class="col-5 offset-1" style="display: inline-block; text-align: left">
                {{ form_row(form.loginUsername) }}
                {{ form_row(form.plainPassword) }}
                <label for="comfirmMdp">Comfirmer mot de passe : </label>
                <input autocomplete="false" type="password" class="form-control" id="comfirmMdp">
            </div>

            <div class="col-4 offset-4" style="margin-top: 20px">
                {{ form_row(form.agreeTerms) }}
                {{ form_row(form.submit) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>

</body>
</html>
<script type="text/javascript" src="{{ asset('js/util.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jQuery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.bundle.js') }}"></script>
<script type="text/javascript">

    function check() {
        let form = document.getElementById('formInscription');

        let nom = document.getElementById("registration_form_user_userNom");
        let prenom = document.getElementById("registration_form_user_userPrenom");
        let mail = document.getElementById("registration_form_user_userEmail");

        let username = document.getElementById("registration_form_loginUsername");
        let mdp = document.getElementById('registration_form_plainPassword');
        let comfirm = document.getElementById('comfirmMdp');

        let erreur = "";

        nom.value === "" ? erreur += "Veuillez renseigner un nom. \n\n" : null;
        prenom.value === "" ? erreur += "Veuillez renseigner un prenom. \n\n" : null;
        mail.value === "" ? erreur += "Veuillez renseigner un e-mail. \n\n" : null;
        username.value = "" ? erreur += "Veuillez renseigner un nom d'utilisateur. \n\n" : null;
        mdp.value === "" ? erreur += "Veuillez renseigner un mot de pass. \n\n" : null;
        comfirm.value === "" ? erreur += "Veuillez comformer votre mot de passe. \n\n" : null;

        if (erreur === "") {
            if (mdp.value === comfirm.value) {
                let Route = '{{ path('inscription_validation') }}';
                $.ajax({
                    url: Route,
                    type: 'POST',
                    data: "username=" + username.value +
                        "&mail=" + mail.value +
                        "&nom=" + nom.value +
                        "&prenom=" + prenom.value +
                        "&mdp=" + mdp.value,
                    dataType: 'json',

                    success: function (json) {
                        return json === "";
                    }
                });
            } else {
                /*$("#alert2").toast('show');*/
                return false;
            }
        } else {
           /* $("#alert2").toast('show');*/
            return false;
        }
        return true;
    }
</script>
</html>
